<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAO.Properties.Settings.SieuThiConnectionString" connectionString="Data Source=DESKTOP-TIC8QEU\SQLEXPRESS;Initial Catalog=SieuThiDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAO.Properties.Settings.SieuThiDBConnectionString"
            connectionString="Data Source=KHOA-PC\SQLEXPRESS;Initial Catalog=SieuThiDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>