<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BanHangTrongSieuThi.Properties.Settings.DataQLSTConnectionString"
            connectionString="Data Source=K3MSHIRO\SQLEXPRESS;Initial Catalog=DataQLST;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>